.genButton {
    display: block;
    // background-color: orange;
    border-radius: 10px;
    border: none;
    padding: .75rem 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        color: #181818;
        // background-color: darkorange;
    }
}

.formTypeBtn {
    background-color: rgb(51, 161, 73);
    color: #FFF;
    width: 100%;
    margin: 1rem 0;
}

.formTypeCancelBtn {
    background-color: rgb(209, 30, 30);
    color: #FFF;
    width: 100%;
    margin: 1rem 0;
}