header {
    padding-top: 2.5rem;

    h1 {
        color: #F3F4E9;
        font-family: 'Readex Pro', sans-serif;
        text-transform: capitalize;
        text-align: center;
    }

    p {
        text-align: center;
    }

}
