@import './variables.scss';

body {
  background-color: $backgroundColor;
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.middle {
  margin: 0 auto;
  text-align: center;
}